body{
    margin:0;
    font-family:Arial;
    background:#f2f2f2;
}

header{
    background:#004080;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.container{
    padding:20px;
}

input{
    padding:8px;
    margin:5px 0;
    width:100%;
    border-radius:5px;
    border:1px solid #ccc;
}

button{
    padding:8px 12px;
    border:none;
    cursor:pointer;
    border-radius:5px;
    background:#004080;
    color:white;
    transition:0.3s;
}

button:hover{
    opacity:0.8;
    transform:scale(1.05);
}

.books{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.book{
    background:white;
    padding:10px;
    margin:10px;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
    width:200px;
    transition:0.3s;
}

.book:hover{
    transform:scale(1.05);
}

.book img{
    width:100%;
    border-radius:5px;
}

.hidden{
    display:none;
}

.error{
    color:red;
}

#ad{
    background:#ffcc00;
    padding:10px;
    margin-top:10px;
    text-align:center;
    font-weight:bold;
    border-radius:8px;
}

/* Telefon versiya */
@media(max-width:600px){
    .books{
        flex-direction:column;
        align-items:center;
    }
.next-btn{
    background:linear-gradient(135deg, #ff9800, #e65100);
    color:white;
    font-weight:bold;
    padding:10px 18px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:all 0.3s ease;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

/* Hover */
.next-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 6px 15px rgba(0,0,0,0.3);
    background:linear-gradient(135deg, #ffb74d, #f57c00);
}

/* Bosilganda */
.next-btn:active{
    transform:scale(0.95);
}
}
.cancel-btn{
    background:linear-gradient(135deg, #dc3545, #a71d2a);
    margin-top:8px;
}

.cancel-btn:hover{
    background:linear-gradient(135deg, #ff4d4d, #c82333);
}

